/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/** HTML elements **/
a:link, a:visited, a {
  text-decoration: none;
}

/** Layout **/
#zone-branding {
  height: 194px;
  background: url(../img/bg-header.jpg) no-repeat left center;
  position: relative;
}

/** Logo **/
.logo-img {
  position: absolute;
  top: 30px;
  left: -10px;
  width: 352px;
  height: 113px;
  margin: 0;
  padding: 0;
}

/** Main Menu **/
#zone-menu {
  height: 50px;
  background: #85876e;
  border-bottom: 5px solid #46483a;
}

#zone-menu .block-main-menu ul { }

#zone-menu .block-main-menu ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
  line-height: 45px;
}

#zone-menu .block-main-menu ul li a {
  color: white;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

#zone-menu .block-main-menu ul li a:hover, #zone-menu .block-main-menu ul li a.active {
  color: black;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}