/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* sticky footer */
html, body {height: 100%; margin: 0;}
#page {display: table; width: 100%;}
html>/**/body #page {height: 100%;}
*:first-child+html #page {height: auto;}
.section {display: table-row;}
html>/**/body .section-content {height: 100%;}
*:first-child+html body .section-content {height: auto;}

/** HTML elements **/
body {
  font-size: 15px;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  color: #46483a;
}

p {
  margin-bottom: 25px;
}

a:link, a:visited, a {
  text-decoration: none;
  color: #85876e;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

a:hover {
  color: #46483a;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

a.button {
  background: #85876e;
  color: white;
  border-bottom: 4px solid #46483a;
  padding: 8px 16px;
}

a.button:hover {
  background: #46483a;
}

h1#page-title {
  font-family: "MuseoSlab500Regular";
  font-size: 2.154em;
  color: #85876e;
}

h2 {
  font-family: Arial, sans-serif;
}

/** Layout **/
#zone-branding {
  height: 194px;
  background: url(../img/bg-header.jpg) no-repeat left center;
  position: relative;
}

/** Logo **/
.logo-img {
  position: absolute;
  top: 30px;
  left: -10px;
  width: 352px;
  height: 113px;
  margin: 0;
  padding: 0;
}

/** Main Menu **/
#zone-menu {
  height: 50px;
  background: #85876e;
  border-bottom: 5px solid #46483a;
  margin-bottom: 50px;
}

#zone-menu .block-main-menu ul { }

#zone-menu .block-main-menu ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
  line-height: 45px;
}

#zone-menu .block-main-menu ul li a {
  color: white;
}

#zone-menu .block-main-menu ul li a:hover, #zone-menu .block-main-menu ul li a.active {
  color: black;
}

/** Sidebar blocks **/
.region-sidebar-first,
.region-sidebar-second {
  margin-top: 50px;
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  border: 1px solid #cacaca;
  margin-bottom: 30px;
}

.region-sidebar-first .block h2.block-title,
.region-sidebar-second .block h2.block-title {
	margin: 15px 0 0 -7px;
  font-weight: 100;
  font-size: 16px;
  padding: 6px 20px;
	color: white;
  background: url(../img/bg-block-title.jpg) no-repeat left bottom;
}

.region-sidebar-first .block .content,
.region-sidebar-second .block .content {
  margin: 10px 15px;
}

.region-sidebar-first .block .content li,
.region-sidebar-second .block .content li {
  line-height: 1.2;
  list-style: none;
  margin-bottom: 10px;
}

.region-sidebar-first .block .content li a,
.region-sidebar-second .block .content li {
  color: #46483a;
  border-bottom: 1px solid #CED4AB;
}

.region-sidebar-first .block .content li a:hover,
.region-sidebar-second .block .content li a:hover {
  border-bottom: 1px solid #46483a;
}

/** Footer **/
#zone-footer-wrapper {
  background: #c3c7a2;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 30px;
  color: #85876e;
  font-size: 0.857em;
}

#zone-footer-wrapper a {
  color: #85876e;
}

#zone-footer-wrapper a:hover {
  color: white;
}

#zone-footer-wrapper p {
  margin-bottom: 0;
}

/** Events block homepage **/
.front #block-views-events-block {
  margin-top: 40px;
  border-top: 1px solid #ededed;
  padding-top: 25px;
}

.front #block-views-events-block h2.block-title {
  font-family: "MuseoSlab500Regular";
  font-size: 1.571em;
  color: #85876e;
  margin: 0;
  margin-bottom: 20px;
}

.front #block-views-events-block ul.events li.event {
  list-style: none;
  padding: 20px 10px;
  background: #fafafa;
  margin-bottom: 10px;
  position: relative;
}

.front #block-views-events-block ul.events li.event .title {
  font-size: 1.071em;
}

.front #block-views-events-block ul.events li.event .date {
  color: #cacaca;
  font-size: 1.071em;
}

.front #block-views-events-block ul.events li.event .body {
  line-height: 1.2;
  margin-top: 15px;
}

.front #block-views-events-block ul.events li.event .link {
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.front #block-views-events-block ul.events li.event .link a {
  color: #c3c7a2;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

.front #block-views-events-block ul.events li.event .link a:hover {
  color: #46483a;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}