/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/** HTML elements **/
body {
  font-size: 1.077em;
  font-family: Arial, sans-serif;
  color: #444;
}

p {
  margin-bottom: 25px;
}

a:link, a:visited, a {
  text-decoration: none;
}

a.button {
  background: #85876e;
  color: white;
  border-bottom: 4px solid #46483a;
  padding: 8px 16px;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

a.button:hover {
  background: #46483a;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear; 
}

h1#page-title {
  font-family: "MuseoSlab500Regular";
  font-size: 2.154em;
  color: #85876e;
}

/** Layout **/
#zone-branding {
  height: 194px;
  background: url(../img/bg-header.jpg) no-repeat left center;
  position: relative;
}

/** Logo **/
.logo-img {
  position: absolute;
  top: 30px;
  left: -10px;
  width: 352px;
  height: 113px;
  margin: 0;
  padding: 0;
}

/** Main Menu **/
#zone-menu {
  height: 50px;
  background: #85876e;
  border-bottom: 5px solid #46483a;
  margin-bottom: 50px;
}

#zone-menu .block-main-menu ul { }

#zone-menu .block-main-menu ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
  line-height: 45px;
}

#zone-menu .block-main-menu ul li a {
  color: white;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

#zone-menu .block-main-menu ul li a:hover, #zone-menu .block-main-menu ul li a.active {
  color: black;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

/** Footer **/
#zone-footer-wrapper {
  background: #c3c7a2;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 30px;
  color: #85876e;
  font-size: 0.857em;
}

#zone-footer-wrapper a {
  color: #85876e;
	-webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

#zone-footer-wrapper a:hover {
  color: white;
  -webkit-transition: all .1s linear;  
  -moz-transition: all .1s linear;  
  -o-transition: all .1s linear;  
  -ms-transition: all .1s linear;   
}

#zone-footer-wrapper p {
  margin-bottom: 0;
}